<% @page_title = "Report: #{@project.name}" %>

<div class="header">
  <div class="header__title">
    <h1>Report: <%= @project.name %></h1>
    <div class="txt-dim txt-small">Total Time: <%= "#{@total_duration / 60}h #{@total_duration % 60}m" %></div>
  </div>
  <div class="header__actions">
    <%= link_to "Back to Projects", projects_path, class: "btn" %>
  </div>
</div>

<div class="panel">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Total Time</th>
        <th>Cards Worked On</th>
      </tr>
    </thead>
    <tbody>
      <% @entries_by_user.each do |user, entries| %>
        <% user_total = entries.sum(&:duration) %>
        <tr>
          <td>
            <div class="flex align-center gap-half">
              <%= avatar_tag user %>
              <strong><%= user.name %></strong>
            </div>
          </td>
          <td><%= "#{user_total / 60}h #{user_total % 60}m" %></td>
          <td>
            <div class="flex flex-wrap gap-half">
              <% entries.map(&:card).uniq.each do |card| %>
                <%= link_to card.title, card, class: "badge badge--gray" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
