<% @page_title = @project.name %>
<% turbo_exempts_page_from_cache %>

<%= turbo_stream_from @project %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% # Future: Add project-specific actions %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @project.name %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to "Edit", edit_project_path(@project), class: "btn btn--small" %>
  </div>
<% end %>

<div class="panel panel--wide center margin-block-end">
  <% if @project.description.present? %>
    <div class="prose margin-block-end">
      <%= simple_format @project.description %>
    </div>
    <hr class="border-top margin-block">
  <% end %>

  <div class="flex gap-double justify-center txt-align-center">
    <div>
      <div class="txt-x-large font-weight-black"><%= @open_cards_count %></div>
      <div class="txt-small txt-subtle txt-uppercase">Open Cards</div>
    </div>
    <div>
      <div class="txt-x-large font-weight-black"><%= @closed_cards_count %></div>
      <div class="txt-small txt-subtle txt-uppercase">Closed Cards</div>
    </div>
    <div>
      <div class="txt-x-large font-weight-black"><%= TimeEntry.format_duration(@total_duration) %></div>
      <div class="txt-small txt-subtle txt-uppercase">Total Time</div>
    </div>
  </div>

  <div class="margin-block-start txt-align-center">
     <%= link_to "View Time Report", report_project_path(@project), class: "btn btn--small" %>
  </div>
</div>
